version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/"
    versioning-strategy: "widen"
    open-pull-requests-limit: 3
    schedule:
      interval: "monthly"
      
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
